<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Evaluate articles NLP</title>
    <link type="text/css" rel="stylesheet" href="/home/mustafa/Downloads/Evaluate-a-News-Article-with-Natural-Language-Processing/src/client/styles/base.scss">
    <link type="text/css" rel="stylesheet" href="/home/mustafa/Downloads/Evaluate-a-News-Article-with-Natural-Language-Processing/src/client/styles/footer.scss">
    <link type="text/css" rel="stylesheet" href="/home/mustafa/Downloads/Evaluate-a-News-Article-with-Natural-Language-Processing/src/client/styles/form.scss">
    <link type="text/css" rel="stylesheet" href="/home/mustafa/Downloads/Evaluate-a-News-Article-with-Natural-Language-Processing/src/client/styles/header.scss">
    <link type="text/css" rel="stylesheet" href="/home/mustafa/Downloads/Evaluate-a-News-Article-with-Natural-Language-Processing/src/client/styles/resets.scss">
    <link href="https://fonts.googleapis.com/css2?&family=Roboto:wght@300;500;700&family=Roboto+Slab:wght@300;400;700;800&display=swap" rel="stylesheet">
  </head>

  <body>
    <main>
      <div class="container">
        <p>Enter a URL of an article / a blog to discover its sentiment.</p>
        <section>
          <form id="form" onsubmit=" return Client.handleSubmit(e)">
            <label for="article-url">URL</label>
            <input
              id="article-url"
              type="text"
              name="input"
              value=""
              placeholder="Enter Article URL here"
            />
            <button
              type="submit"
              class="btn-submit"
              onclick="Client.handleSubmit(event)"
            >
              Submit
            </button>
          </form>
        </section>

        <section>
          <strong>Form Results:</strong>
          <div id="agreement">agreement:</div>
          <div id="subjectivity">subjectivity:</div>
          <div id="confidence">confidence:</div>
          <div id="irony">irony:</div>
          <div id="score_tag">score:</div>
        </section>
      </div>
    </main>
    <script>
      if ("serviceWorker" in navigator) {
        window.addEventListener("load", () => {
          navigator.serviceWorker.register("/service-worker.js");
        });
      }
    </script>
  </body>
</html>
